services:
  # Coordinador
  coordinador:
    build:
      context: .
      dockerfile: coordinador/dockerfile
    command: ["./coordinador/coordinador", "--coordinador=C1"]
    ports:
      - "50052:50052"
    environment:
      - BROKER_HOST=172.24.69.53  # IP de MV1
      - COORDINADOR_HOST=coordinador

  # Datanode 2
  datanode2:
    build:
      context: .
      dockerfile: datanodes/dockerfile
    command: ["./datanodes/datanode", "--nodo=DN2"]
    ports:
      - "50059:50059"
    environment:
      - BROKER_HOST=172.24.69.53  # IP de MV1
      - DATANODE_HOST=datanode2
      - DATANODE1_HOST=172.24.69.53  # IP de MV3
      - DATANODE3_HOST=172.24.69.53  # IP de MV1

  # Nodo Consenso 3
  consenso3:
    build:
      context: .
      dockerfile: nodosConsenso/dockerfile
    command: ["./nodosConsenso/consenso", "--nodo=ATC3"]
    ports:
      - "50063:50063"
    environment:
      - BROKER_HOST=172.24.69.53  # IP de MV1
      - CONSENSO_HOST=consenso3
      - CONSENSO1_HOST=172.24.69.53  # IP de MV2
      - CONSENSO2_HOST=172.24.69.53  # IP de MV3
      - CONSENSO3_HOST=consenso3