services:
  # Datanode 1
  datanode1:
    build:
      context: .
      dockerfile: datanodes/dockerfile
    command: ["./datanodes/datanode", "--nodo=DN1"]
    ports:
      - "50058:50058"
    environment:
      - BROKER_HOST=10.35.168.23  # IP de MV1
      - DATANODE_HOST=10.35.168.25
      - DATANODE2_HOST=10.35.168.26  # IP de MV4
      - DATANODE3_HOST=10.35.168.23  # IP de MV1

  # Nodo Consenso 2
  consenso2:
    build:
      context: .
      dockerfile: nodosConsenso/dockerfile
    command: ["./nodosConsenso/consenso", "--nodo=ATC2"]
    ports:
      - "50062:50062"
    environment:
      - BROKER_HOST=10.35.168.23  # IP de MV1
      - CONSENSO_HOST=10.35.168.25
      - CONSENSO1_HOST=10.35.168.24  # IP de MV2
      - CONSENSO2_HOST=10.35.168.25
      - CONSENSO3_HOST=10.35.168.26  # IP de MV4

  # Cliente RYW 3
  cliente-ryw3:
    build:
      context: .
      dockerfile: clientesRYW/dockerfile
    command: ["./clientesRYW/cliente-ryw", "--cliente=RYW3"]
    ports:
      - "50055:50055"
    environment:
      - COORDINADOR_HOST=10.35.168.26  # IP de MV4
      - BROKER_HOST=10.35.168.23  # IP de MV1

      - CLIENTE_RYW_HOST=10.35.168.25
